/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

/* Container styles */
.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #ddd;
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px;
  border-radius: 3px;
  border: none;
  background-color: #1abc9c;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Link styles */
a {
  color: #1abc9c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
